schemas/define.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./Defs/AbilityDef.xsd" />
  <xs:include schemaLocation="./Defs/AbilityGroupDef.xsd" />
  <xs:include schemaLocation="./Defs/AbilityCategoryDef.xsd" />
  <xs:include schemaLocation="./Defs/ThingDef.xsd" />
  <xs:include schemaLocation="./Defs/ThingCategoryDef.xsd" />
  <xs:include schemaLocation="./Defs/RecipeDef.xsd" />
  <xs:include schemaLocation="./Defs/GameConditionDef.xsd" />
  <xs:include schemaLocation="./Defs/PawnKindDef.xsd" />
  <xs:include schemaLocation="./Defs/SurgeryOutcomeEffectDef.xsd" />
  <xs:include schemaLocation="./Defs/HediffDef.xsd" />

  <!-- Root -->
  <xs:element name="Defs">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="AbilityDef" type="AbilityDefType" />
        <xs:element name="AbilityGroupDef" type="AbilityGroupDefType" />
        <xs:element name="AbilityCategoryDef" type="AbilityCategoryDefType" />
        <xs:element name="ThingDef" type="ThingDefType" />
        <xs:element name="ThingCategoryDef" type="ThingCategoryDefType" />
        <xs:element name="RecipeDef" type="RecipeDefType" />
        <xs:element name="SurgeryOutcomeEffectDef" type="SurgeryOutcomeEffectDefType" />
        <xs:element name="GameConditionDef" type="GameConditionDefType" />
        <xs:element name="PawnKindDef" type="PawnKindDefType" />
        <xs:element name="HediffDef" type="HediffDefType" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>