schemas/define.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="./common_types.xsd"></xs:include>
  <xs:include schemaLocation="./enum_types.xsd"></xs:include>
  <xs:include schemaLocation="./Defs/ThingDef.xsd"></xs:include>
  <!-- Root -->
  <xs:element name="Defs">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ThingDef" type="ThingDefType" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- attributes -->
  <!-- <xs:attribute name="ParentName" type="xs:string" /> -->

  <!-- DefType -->
  <xs:group name="DefType">
    <xs:all>
      <xs:element name="defName" type="DefNameType">
        <xs:annotation>
          <xs:documentation>The name of this Def. It is used as an identifier by the game code.
            Default: "UnnamedDef"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of this Def. It is used as an identifier by the game code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A human-readable description given when the Def is inspected by players.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Disables config error checking. Intended for mod use. (Be careful!)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:annotation>
          <xs:documentation>Mod-specific data. Not used by core game code.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="li" type="DefModExtensionType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="shortHash" type="xs:unsignedShort" />
      <xs:element name="index" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation>Default: ushort.MaxValue</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modContentPack" />
      <xs:element name="fileName" type="xs:string" />
      <xs:element name="generated" type="xs:boolean" />
      <xs:element name="debugRandomId" type="xs:unsignedShort">
        <xs:annotation>
          <xs:documentation>Default: (ushort) Rand.RangeInclusive(0, (int) ushort.MaxValue)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:group>

  <!-- BuildableDefType -->
  <xs:group name="BuildableDefType">
    <xs:all>
      <xs:element name="passability" type="TraversabilityType" />
      <xs:element name="statBases" type="StatModifierListType" />
      <xs:element name="pathCost" type="xs:integer" />
      <xs:element name="pathCostIgnoreRepeat" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: true</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fertility" type="xs:float">
        <xs:annotation>
          <xs:documentation>Default: -1f</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="costList" type="GeneralAnyListType" />
      <xs:element name="costStuffCount" type="xs:integer" />
      <xs:element name="stuffCategories">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <!-- StuffCategoryDefType -->
            <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="stuffCategorySummary" type="xs:string" />
      <xs:element name="costListForDifficulty" type="CostListForDifficultyType" />
      <xs:element name="placingDraggableDimensions" type="xs:integer" />
      <xs:element name="clearBuildingArea" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: true</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="defaultPlacingRot" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: Rot4.North</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resourcesFractionWhenDeconstructed" type="xs:float">
        <xs:annotation>
          <xs:documentation>Default: 0.5f</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blocksAltitudes">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="AltitudeLayerType" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="dominantStyleCategory" type="xs:string" />
      <xs:element name="isAltar" type="xs:boolean" />
      <xs:element name="useStuffTerrainAffordance" type="xs:boolean" />
      <xs:element name="terrainAffordanceNeeded" type="xs:string" />
      <xs:element name="buildingPrerequisites">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="researchPrerequisites">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="minMonolithLevel" type="xs:integer" />
      <xs:element name="constructionSkillPrerequisite" type="xs:integer" />
      <xs:element name="artisticSkillPrerequisite" type="xs:integer" />
      <xs:element name="minTechLevelToBuild" type="TechLevelType" />
      <xs:element name="maxTechLevelToBuild" type="TechLevelType" />
      <xs:element name="altitudeLayer" type="AltitudeLayerType">
        <xs:annotation>
          <xs:documentation>Default: AltitudeLayer.Item</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="repairEffect" type="EffecterDefType" />
      <xs:element name="constructEffect" type="EffecterDefType" />
      <xs:element name="colorPerStuff">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="ColorForStuffType" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="canGenerateDefaultDesignator" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: true</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ideoBuilding" type="xs:boolean" />
      <xs:element name="specialDisplayRadius" type="xs:float" />
      <xs:element name="placeWorkers">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="designationCategory" type="xs:string" />
      <xs:element name="designatorDropdown" type="xs:string" />
      <xs:element name="designationHotKey" type="xs:string" />
      <xs:element name="uiOrder" type="xs:float">
        <xs:annotation>
          <xs:documentation>Default: 2999f</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uiIconPath" type="xs:string" />
      <xs:element name="uiIconPathsStuff">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="li" type="IconForStuffAppearanceType" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="uiIconOffset" type="xs:string" />
      <xs:element name="uiIconColor" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: Color.white</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uiIconForStackCount" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Default: -1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blueprintDef" type="xs:string" />
      <xs:element name="installBlueprintDef" type="xs:string" />
      <xs:element name="frameDef" type="xs:string" />
      <xs:element name="graphic" type="GraphicType">
        <xs:annotation>
          <xs:documentation>Default: BaseContent.BadGraphic</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uiIcon">
        <xs:annotation>
          <xs:documentation>Default: BaseContent.BadTex</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uiIconAngle" type="xs:float" />
      <xs:element name="MadeFromStuff" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: &gt;
            !this.stuffCategories.NullOrEmpty&lt;StuffCategoryDef&gt;()</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BuildableByPlayer" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: this.designationCategory != null</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DrawMatSingle">
        <xs:annotation>
          <xs:documentation>Default: this.graphic?.MatSingle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Altitude" type="xs:float">
        <xs:annotation>
          <xs:documentation>Default: this.altitudeLayer.AltitudeFor()</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AffectsFertility" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Default: (double) this.fertility &gt;= 0.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:group>


  <!-- DamageDefType -->
  <xs:complexType name="DamageDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's DamageDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="workerClass" type="System.TypeType">
            <xs:annotation>
              <xs:documentation>Default: typeof (DamageWorker)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hasForcefulImpact" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="harmsHealth" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="makesBlood" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="canInterruptJobs" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="isRanged" type="xs:boolean" />
          <xs:element name="makesAnimalsFlee" type="xs:boolean" />
          <xs:element name="execution" type="xs:boolean" />
          <xs:element name="combatLogRules" type="RulePackDefType" />
          <xs:element name="buildingDamageFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="buildingDamageFactorPassable" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="buildingDamageFactorImpassable" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="plantDamageFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="corpseDamageFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="causeStun" type="xs:boolean" />
          <xs:element name="stunAdaptationTicks" type="xs:integer" />
          <xs:element name="stunResistStat" type="StatDefType" />
          <xs:element name="displayAdaptedTextMote" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="adaptedText" type="xs:string" />
          <xs:element name="canUseDeflectMetalEffect" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="impactSoundType" type="ImpactSoundTypeDefType" />
          <xs:element name="deathMessage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: "{0} has been killed."</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="damageEffecter" type="EffecterDefType" />
          <xs:element name="defaultDamage" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: -1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="defaultArmorPenetration" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: -1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="defaultStoppingPower" type="xs:float" />
          <xs:element name="additionalHediffs">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="DamageDefAdditionalHediffType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="applyAdditionalHediffsIfHuntingForFood" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="armorCategory" type="DamageArmorCategoryDefType" />
          <xs:element name="minDamageToFragment" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 99999</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="overkillPctToDestroyPart" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: new FloatRange(0.0f, 0.7f)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="consideredHelpful" type="xs:boolean" />
          <xs:element name="harmAllLayersUntilOutside" type="xs:boolean" />
          <xs:element name="hediff" type="HediffDefType" />
          <xs:element name="hediffSkin" type="HediffDefType" />
          <xs:element name="hediffSolid" type="HediffDefType" />
          <xs:element name="isExplosive" type="xs:boolean" />
          <xs:element name="explosionSnowMeltAmount" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="explosionAffectOutsidePartsOnly" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="explosionCellMote" type="xs:string" />
          <xs:element name="explosionCellFleck" type="FleckDefType" />
          <xs:element name="explosionColorCenter" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="explosionColorEdge" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="explosionInteriorEffecter" type="EffecterDefType" />
          <xs:element name="explosionInteriorMote" type="xs:string" />
          <xs:element name="explosionInteriorFleck" type="FleckDefType" />
          <xs:element name="explosionCenterMote" type="xs:string" />
          <xs:element name="explosionCenterFleck" type="FleckDefType" />
          <xs:element name="explosionCenterEffecter" type="EffecterDefType" />
          <xs:element name="explosionCellEffecter" type="EffecterDefType" />
          <xs:element name="explosionCellEffecterChance" type="xs:float" />
          <xs:element name="explosionCellEffecterMaxRadius" type="xs:float" />
          <xs:element name="explosionHeatEnergyPerCell" type="xs:float" />
          <xs:element name="expolosionPropagationSpeed" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="soundExplosion" type="DefNameType" />
          <xs:element name="explosionInteriorCellCountMultiplier" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="explosionInteriorCellDistanceMultiplier" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 0.7f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="stabChanceOfForcedInternal" type="xs:float" />
          <xs:element name="cutExtraTargetsCurve" type="SimpleCurveType" />
          <xs:element name="cutCleaveBonus" type="xs:float" />
          <xs:element name="bluntInnerHitChance" type="xs:float" />
          <xs:element name="bluntInnerHitDamageFractionToConvert" type="xs:string" />
          <xs:element name="bluntInnerHitDamageFractionToAdd" type="xs:string" />
          <xs:element name="bluntStunDuration" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bluntStunChancePerDamagePctOfCorePartToHeadCurve"
            type="SimpleCurveType" />
          <xs:element name="bluntStunChancePerDamagePctOfCorePartToBodyCurve"
            type="SimpleCurveType" />
          <xs:element name="scratchSplitPercentage" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 0.5f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="scaleDamageToBuildingsBasedOnFlammability" type="xs:boolean" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- RecipeDefType -->
  <xs:complexType name="RecipeDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's RecipeDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="workerClass" type="System.TypeType">
            <xs:annotation>
              <xs:documentation>Default: typeof (RecipeWorker)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="workerCounterClass" type="System.TypeType">
            <xs:annotation>
              <xs:documentation>Default: typeof (RecipeWorkerCounter)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="jobString" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: "Doing an unknown recipe."</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="requiredGiverWorkType" type="WorkTypeDefType" />
          <xs:element name="workAmount" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: -1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="workSpeedStat" type="StatDefType" />
          <xs:element name="efficiencyStat" type="StatDefType" />
          <xs:element name="workTableEfficiencyStat" type="StatDefType" />
          <xs:element name="workTableSpeedStat" type="StatDefType" />
          <xs:element name="ingredients">
            <xs:annotation>
              <xs:documentation>Default: new List&lt;IngredientCount&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="IngredientCountType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="fixedIngredientFilter" type="ThingFilterType">
            <xs:annotation>
              <xs:documentation>Default: new ThingFilter()</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="defaultIngredientFilter" type="ThingFilterType" />
          <xs:element name="allowMixingIngredients" type="xs:boolean" />
          <xs:element name="ignoreIngredientCountTakeEntireStacks" type="xs:boolean" />
          <xs:element name="forceHiddenSpecialFilters">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="SpecialThingFilterDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="autoStripCorpses" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="interruptIfIngredientIsRotting" type="xs:boolean" />
          <xs:element name="products">
            <xs:annotation>
              <xs:documentation>Default: new List&lt;ThingDefCountClass&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ThingDefCountClassType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="specialProducts">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="SpecialProductTypeType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="productHasIngredientStuff" type="xs:boolean" />
          <xs:element name="useIngredientsForColor" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetCountAdjustment" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="unfinishedThingDef" type="xs:string" />
          <xs:element name="skillRequirements">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="SkillRequirementType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="workSkill" type="SkillDefType" />
          <xs:element name="workSkillLearnFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="effectWorking" type="EffecterDefType" />
          <xs:element name="soundWorking" type="DefNameType" />
          <xs:element name="successfullyRemovedHediffMessage" type="xs:string" />
          <xs:element name="surgerySuccessChanceFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="deathOnFailedSurgeryChance" type="xs:float" />
          <xs:element name="targetsBodyPart" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="anesthetize" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minPartCount" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: -1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="surgeryIgnoreEnvironment" type="xs:boolean" />
          <xs:element name="surgeryOutcomeEffect" type="SurgeryOutcomeEffectDefType" />
          <xs:element name="mustBeFertile" type="xs:boolean" />
          <xs:element name="allowedForQuestLodgers" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minAllowedAge" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: -1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="humanlikeOnly" type="xs:boolean" />
          <xs:element name="mutantPrerequisite">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MutantDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="mutantBlacklist">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MutantDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="smeltingWorkAmount" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: -1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="researchPrerequisite" type="ResearchProjectDefType" />
          <xs:element name="memePrerequisitesAny">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="researchPrerequisites">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="factionPrerequisiteTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="fromIdeoBuildingPreceptOnly" type="xs:boolean" />
          <xs:element name="conceptLearned" type="ConceptDefType" />
          <xs:element name="dontShowIfAnyIngredientMissing" type="xs:boolean" />
          <xs:element name="displayPriority" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 99999</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="formingTicks" type="xs:integer" />
          <xs:element name="mechanitorOnlyRecipe" type="xs:boolean" />
          <xs:element name="gestationCycles" type="xs:integer" />
          <xs:element name="mechResurrection" type="xs:boolean" />
          <xs:element name="regenerateOnDifficultyChange" type="xs:boolean" />
          <xs:element name="adjustedCount" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIIconThing" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: this.uiIconThing ?? this.ProducedThingDef</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UsesUnfinishedThing" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.unfinishedThingDef != null</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- FactionDefType -->
  <xs:complexType name="FactionDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's FactionDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="isPlayer" type="xs:boolean" />
          <xs:element name="factionNameMaker" type="RulePackDefType" />
          <xs:element name="settlementNameMaker" type="RulePackDefType" />
          <xs:element name="playerInitialSettlementNameMaker" type="RulePackDefType" />
          <xs:element name="fixedName" type="xs:string" />
          <xs:element name="humanlikeFaction" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hidden" type="xs:boolean" />
          <xs:element name="listOrderPriority" type="xs:float" />
          <xs:element name="pawnGroupMakers">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PawnGroupMakerType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="raidCommonalityFromPointsCurve" type="SimpleCurveType" />
          <xs:element name="autoFlee" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="attackersDownPercentageRangeForAutoFlee" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: new FloatRange(0.4f, 0.7f)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="canSiege" type="xs:boolean" />
          <xs:element name="canStageAttacks" type="xs:boolean" />
          <xs:element name="canUseAvoidGrid" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="canPsychicRitualSiege" type="xs:boolean" />
          <xs:element name="earliestRaidDays" type="xs:float" />
          <xs:element name="allowedArrivalTemperatureRange" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: new FloatRange(-1000f, 1000f)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minSettlementTemperatureChanceCurve" type="SimpleCurveType" />
          <xs:element name="basicMemberKind" type="PawnKindDefType" />
          <xs:element name="startingResearchTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ResearchProjectTagDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="startingTechprintsResearchTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ResearchProjectTagDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="recipePrerequisiteTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="rescueesCanJoin" type="xs:boolean" />
          <xs:element name="pawnSingular" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: "member"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pawnsPlural" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: "members"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="leaderTitle" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: "leader"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="leaderTitleFemale" type="xs:string" />
          <xs:element name="royalFavorLabel" type="xs:string" />
          <xs:element name="royalFavorIconPath" type="xs:string" />
          <xs:element name="fixedLeaderKinds">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PawnKindDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="leaderForceGenerateNewPawn" type="xs:boolean" />
          <xs:element name="forageabilityFactor" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maxPawnCostPerTotalPointsCurve" type="SimpleCurveType" />
          <xs:element name="royalTitleTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="categoryTag" type="xs:string" />
          <xs:element name="hostileToFactionlessHumanlikes" type="xs:boolean" />
          <xs:element name="dropPodActive" type="xs:string" />
          <xs:element name="dropPodIncoming" type="xs:string" />
          <xs:element name="raidsForbidden" type="xs:boolean" />
          <xs:element name="requiredCountAtGameStart" type="xs:integer" />
          <xs:element name="settlementGenerationWeight" type="xs:float" />
          <xs:element name="generateNewLeaderFromMapMembersOnly" type="xs:boolean" />
          <xs:element name="maxConfigurableAtWorldCreation" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: -1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="startingCountAtWorldCreation" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="configurationListOrderPriority" type="xs:integer" />
          <xs:element name="replacesFaction" type="FactionDefType" />
          <xs:element name="displayInFactionSelection" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="techLevel" type="TechLevelType" />
          <xs:element name="backstoryFilters">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="BackstoryCategoryFilterType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="settlementTexturePath" type="xs:string" />
          <xs:element name="factionIconPath" type="xs:string" />
          <xs:element name="colorSpectrum">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="royalTitleInheritanceRelations">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PawnRelationDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="royalTitleInheritanceWorkerClass" type="System.TypeType" />
          <xs:element name="royalImplantRules">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="RoyalImplantRuleType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="renounceTitleMessage" type="xs:string" />
          <xs:element name="allowedCultures">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="CultureDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="requiredMemes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="allowedMemes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="disallowedMemes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="disallowedPrecepts">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PreceptDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="structureMemeWeights">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeWeightType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="classicIdeo" type="xs:boolean" />
          <xs:element name="fixedIdeo" type="xs:boolean" />
          <xs:element name="ideoName" type="xs:string" />
          <xs:element name="hiddenIdeo" type="xs:boolean" />
          <xs:element name="ideoDescription" type="xs:string" />
          <xs:element name="styles">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="StyleCategoryDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="deityPresets">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="DeityPresetType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="forcedMemes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MemeDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="requiredPreceptsOnly" type="xs:boolean" />
          <xs:element name="maxCountAtGameStart" type="xs:integer" />
          <xs:element name="canMakeRandomly" type="xs:boolean" />
          <xs:element name="dialogFactionGreetingHostile" type="xs:string" />
          <xs:element name="dialogFactionGreetingHostileAppreciative" type="xs:string" />
          <xs:element name="dialogFactionGreetingWary" type="xs:string" />
          <xs:element name="dialogFactionGreetingWarm" type="xs:string" />
          <xs:element name="dialogMilitaryAidSent" type="xs:string" />
          <xs:element name="CanEverBeNonHostile" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: !this.permanentEnemy</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HasRoyalTitles" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: &gt;
                this.RoyalTitlesAwardableInSeniorityOrderForReading.Count 0</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BaselinerChance" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: this.xenotypeSet != null ?
                this.xenotypeSet.BaselinerChance : 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- SoundDefType -->
  <xs:complexType name="SoundDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's SoundDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="sustain" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>If checked, this sound is a sustainer.\n\nSustainers are used for
                sounds with a defined beginning and end (as opposed to OneShots, which just fire at
                a given instant).\n\nThis value must match what the game expects from the
                SubSoundDef with this name.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="context" type="SoundContextType">
            <xs:annotation>
              <xs:documentation>When the sound is allowed to play: only when the map view is active,
                only when the world view is active, or always (map + world + main menu).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="eventNames">
            <xs:annotation>
              <xs:documentation>Event names for this sound. \n\nThe code will look up sounds to play
                them according to their name. If the code finds the event name it wants in this
                list, it will trigger this sound.\n\nThe Def name is also used as an event name.
                Obsolete Default: new List&lt;string&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="maxVoices" type="xs:integer">
            <xs:annotation>
              <xs:documentation>For one-shots, this is the number of individual sounds from this Def
                than can be playing at a time.\n\n For sustainers, this is the number of sustainers
                that can be running with this sound (each of which can have sub-sounds). Sustainers
                can fade in and out as you move the camera or objects move, to keep the nearest ones
                audible.\n\nThis setting may not work for on-camera sounds. Default: 4</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maxSimultaneous" type="xs:integer">
            <xs:annotation>
              <xs:documentation>The number of instances of this sound that can play at almost
                exactly the same moment. Handles cases like six gunners all firing their identical
                guns at the same time because a target came into view of all of them at the same
                time. Ordinarily this would make a painfully loud sound, but you can reduce it with
                this. Default: 3</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="priorityMode" type="VoicePriorityModeType">
            <xs:annotation>
              <xs:documentation>If the system has to not play some instances of this sound because
                of maxVoices, this determines which ones are ignored.\n\nYou should use
                PrioritizeNewest for things like gunshots, so older still-playing samples are
                overridden by newer, more important ones.\n\nSustained sounds should usually
                prioritize nearest, so if a new fire starts burning nearby it can override a more
                distant one.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="slot" type="xs:string">
            <xs:annotation>
              <xs:documentation>The special sound slot this sound takes. If a sound with this slot
                is playing, new sounds in this slot will not play.\n\nOnly works for on-camera
                sounds. Default: ""</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sustainStartSound" type="DefNameType">
            <xs:annotation>
              <xs:documentation>The name of the SoundDef that will be played when this sustainer
                starts.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sustainStopSound" type="DefNameType">
            <xs:annotation>
              <xs:documentation>The name of the SoundDef that will be played when this sustainer
                ends.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sustainFadeoutTime" type="xs:float">
            <xs:annotation>
              <xs:documentation>After a sustainer is ended, the sound will fade out over this many
                real-time seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sustainFadeoutStartSound" type="DefNameType">
            <xs:annotation>
              <xs:documentation>The name of the SoundDef that will be played when this sustainer
                starts to fade out.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="subSounds">
            <xs:annotation>
              <xs:documentation>All the sounds that will play when this set is triggered. Default:
                new List&lt;SubSoundDef&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="SubSoundDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="isUndefined" type="xs:boolean" />
          <xs:element name="testSustainer" type="SustainerType" />
          <xs:element name="MaxSimultaneousSamples" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: this.maxSimultaneous * this.subSounds.Count</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- HediffDefType -->
  <xs:complexType name="HediffDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's HediffDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="hediffClass" type="System.TypeType">
            <xs:annotation>
              <xs:documentation>Default: typeof (Hediff)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="comps">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffCompPropertiesType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="descriptionShort" type="xs:string" />
          <xs:element name="debugLabelExtra" type="xs:string" />
          <xs:element name="initialSeverity" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 0.5f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="lethalSeverity" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: -1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="stages">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffStageType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="tendable" type="xs:boolean" />
          <xs:element name="isBad" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="spawnThingOnRemoved" type="xs:string" />
          <xs:element name="chanceToCauseNoPain" type="xs:float" />
          <xs:element name="canApplyDodChanceForCapacityChanges" type="xs:boolean" />
          <xs:element name="makesSickThought" type="xs:boolean" />
          <xs:element name="makesAlert" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="causesNeed" type="NeedDefType" />
          <xs:element name="disablesNeeds">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="NeedDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="minSeverity" type="xs:float" />
          <xs:element name="maxSeverity" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: float.MaxValue</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="scenarioCanAdd" type="xs:boolean" />
          <xs:element name="hediffGivers">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffGiverType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="cureAllAtOnceIfCuredByItem" type="xs:boolean" />
          <xs:element name="taleOnVisible" type="TaleDefType" />
          <xs:element name="recordDownedTale" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="everCurableByItem" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="priceImpact" type="xs:boolean" />
          <xs:element name="priceOffset" type="xs:float" />
          <xs:element name="chronic" type="xs:boolean" />
          <xs:element name="keepOnBodyPartRestoration" type="xs:boolean" />
          <xs:element name="countsAsAddedPartOrImplant" type="xs:boolean" />
          <xs:element name="blocksSocialInteraction" type="xs:boolean" />
          <xs:element name="blocksSleeping" type="xs:boolean" />
          <xs:element name="overrideTooltip" type="xs:string" />
          <xs:element name="extraTooltip" type="xs:string" />
          <xs:element name="levelIsQuantity" type="xs:boolean" />
          <xs:element name="removeOnDeathrestStart" type="xs:boolean" />
          <xs:element name="preventsCrawling" type="xs:boolean" />
          <xs:element name="preventsPregnancy" type="xs:boolean" />
          <xs:element name="preventsLungRot" type="xs:boolean" />
          <xs:element name="pregnant" type="xs:boolean" />
          <xs:element name="allowMothballIfLowPriorityWorldPawn" type="xs:boolean" />
          <xs:element name="removeWithTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="onlyLifeThreateningTo">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="BodyPartDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="canAffectBionicOrImplant" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="alwaysShowSeverity" type="xs:boolean" />
          <xs:element name="showGizmosOnCorpse" type="xs:boolean" />
          <xs:element name="defaultInstallPart" type="BodyPartDefType" />
          <xs:element name="possiblePathways">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffInfectionPathwayType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="givesInfectionPathways">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="InfectionPathwayDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="duplicationAllowed" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="preventsDeath" type="xs:boolean" />
          <xs:element name="allowedMeditationFocusTypes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="MeditationFocusDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="abilities">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="AbilityDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="isInfection" type="xs:boolean" />
          <xs:element name="forceRemoveOnResurrection" type="xs:boolean" />
          <xs:element name="organicAddedBodypart" type="xs:boolean" />
          <xs:element name="deprioritizeHealing" type="xs:boolean" />
          <xs:element name="clearsEgo" type="xs:boolean" />
          <xs:element name="aptitudes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="AptitudeType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="removeOnRedressChanceByDaysCurve" type="SimpleCurveType">
            <xs:annotation>
              <xs:documentation>Default: new SimpleCurve() { { new CurvePoint(0.0f, 0.0f), true }, {
                new CurvePoint(1f, 0.0f), true } }</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="removeOnQuestLodgers" type="xs:boolean" />
          <xs:element name="removeOnRedressIfNotOfKind">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PawnKindDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="displayWound" type="xs:boolean" />
          <xs:element name="defaultLabelColor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="skinShader" type="ShaderTypeDefType" />
          <xs:element name="forceRenderTreeRecache" type="xs:boolean" />
          <xs:element name="injuryProps" type="InjuryPropsType" />
          <xs:element name="addedPartProps" type="AddedBodyPartPropsType" />
          <xs:element name="labelNoun" type="xs:string" />
          <xs:element name="battleStateLabel" type="xs:string" />
          <xs:element name="labelNounPretty" type="xs:string" />
          <xs:element name="targetPrefix" type="xs:string" />
          <xs:element name="IsAddiction" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: typeof
                (Hediff_Addiction).IsAssignableFrom(this.hediffClass)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="reportString" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- RulePackDefType -->
  <xs:complexType name="RulePackDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's RulePackDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="include">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="RulePackDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="directTestable" type="xs:boolean" />
          <xs:element name="RulesImmediate">
            <xs:annotation>
              <xs:documentation>Default: this.rulePack?.Rules</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="RuleType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="UntranslatedRulesImmediate">
            <xs:annotation>
              <xs:documentation>Default: this.rulePack?.UntranslatedRules</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="RuleType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>

  <!-- EntityCodexEntryDefType -->
  <xs:complexType name="EntityCodexEntryDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's EntityCodexEntryDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="category" type="EntityCategoryDefType" />
          <xs:element name="startDiscovered" type="xs:boolean" />
          <xs:element name="linkedThings">
            <xs:annotation>
              <xs:documentation>Default: ThingDef[]</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="discoveredResearchProjects">
            <xs:annotation>
              <xs:documentation>Default: ResearchProjectDef[]</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="provocationIncidents">
            <xs:annotation>
              <xs:documentation>Default: IncidentDef[]</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="IncidentDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="discoveryType" type="EntityDiscoveryTypeType" />
          <xs:element name="allowDiscoveryWhileMapGenerating" type="xs:boolean" />
          <xs:element name="orderInCategory" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 9999999</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hideInPlaystyles">
            <xs:annotation>
              <xs:documentation>Default: AnomalyPlaystyleDef[]</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="AnomalyPlaystyleDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="icon" type="Texture2DType" />
          <xs:element name="silhouette" type="Texture2DType" />
          <xs:element name="Discovered" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: Find.EntityCodex.Discovered(this)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- ThoughtDefType -->
  <xs:complexType name="ThoughtDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's ThoughtDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="thoughtClass" type="System.TypeType" />
          <xs:element name="workerClass" type="System.TypeType" />
          <xs:element name="stages">
            <xs:annotation>
              <xs:documentation>Default: new List&lt;ThoughtStage&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ThoughtStageType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="stackLimit" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: 1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="stackedEffectMultiplier" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 0.75f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="durationDays" type="xs:float" />
          <xs:element name="invert" type="xs:boolean" />
          <xs:element name="validWhileDespawned" type="xs:boolean" />
          <xs:element name="nextThought" type="ThoughtDefType" />
          <xs:element name="producesMemoryThought" type="ThoughtDefType" />
          <xs:element name="nullifyingTraits">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="TraitDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="neverNullifyIfAnyTrait">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="TraitDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="nullifyingTraitDegrees">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="TraitRequirementType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="nullifyingOwnTales">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="TaleDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="nullifyingPrecepts">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="PreceptDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="nullifyingHediffs">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="nullifyingGenes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="GeneDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="requiredTraits">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="TraitDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="requiredGenes">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="GeneDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="requiredTraitsDegree" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: int.MinValue</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="requiredHediffs">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffDefType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="effectMultiplyingStat" type="StatDefType" />
          <xs:element name="effectMultiplyingStatCurve" type="SimpleCurveType" />
          <xs:element name="hediff" type="HediffDefType" />
          <xs:element name="mentalState" type="MentalStateDefType" />
          <xs:element name="gameCondition" type="GameConditionDefType" />
          <xs:element name="nullifiedIfNotColonist" type="xs:boolean" />
          <xs:element name="thoughtToMake" type="ThoughtDefType" />
          <xs:element name="labelInBracketsExtraForHediff" type="xs:string" />
          <xs:element name="DurationTicks" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Default: (int) ((double) this.durationDays * 60000.0)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsSituational" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.Worker != null</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsSocial" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: typeof
                (ISocialThought).IsAssignableFrom(this.ThoughtClass)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequiresSpecificTraitsDegree" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.requiredTraitsDegree != int.MinValue</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- ConceptDefType -->
  <xs:complexType name="ConceptDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's ConceptDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="priority" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: float.MaxValue</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="noteTeaches" type="xs:boolean" />
          <xs:element name="needsOpportunity" type="xs:boolean" />
          <xs:element name="opportunityDecays" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="gameMode" type="ProgramStateType">
            <xs:annotation>
              <xs:documentation>Default: ProgramState.Playing</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="highlightTags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="TriggeredDirect" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: (double) this.priority &lt;= 0.0</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>












  <!-- ResearchProjectDefType -->
  <xs:complexType name="ResearchProjectDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's ResearchProjectDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
        <xs:extension base="DefType">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="baseCost" type="xs:float" />
            <xs:element name="prerequisites">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
                    maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="hiddenPrerequisites">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
                    maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="techLevel" type="TechLevelType" />
            <xs:element name="requiredByThis">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="ResearchProjectDefType" minOccurs="0"
                    maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="requiredResearchBuilding" type="xs:string" />
            <xs:element name="requiredResearchFacilities">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="tags">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="ResearchProjectTagDefType" minOccurs="0"
                    maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="tab" type="ResearchTabDefType" />
            <xs:element name="researchViewX" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: 1f</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="researchViewY" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: 1f</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="discoveredLetterTitle" type="xs:string" />
            <xs:element name="discoveredLetterText" type="xs:string" />
            <xs:element name="discoveredLetterDisabledWhen" type="DifficultyConditionConfigType">
              <xs:annotation>
                <xs:documentation>Default: new DifficultyConditionConfig()</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="techprintCount" type="xs:integer" />
            <xs:element name="techprintCommonality" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: 1f</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="techprintMarketValue" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: 1000f</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="heldByFactionCategoryTags">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="hideWhen" type="DifficultyConditionConfigType">
              <xs:annotation>
                <xs:documentation>Default: new DifficultyConditionConfig()</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="requiresMechanitor" type="xs:boolean" />
            <xs:element name="requiredAnalyzed">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="recalculatePower" type="xs:boolean" />
            <xs:element name="knowledgeCategory" type="KnowledgeCategoryDefType" />
            <xs:element name="knowledgeCost" type="xs:float" />
            <xs:element name="teachConcept" type="ConceptDefType" />
            <xs:element name="generalRules" type="RulePackType" />
            <xs:element name="ResearchViewX" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: this.x</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ResearchViewY" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: this.y</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CostApparent" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: this.Cost *
                  this.CostFactor(Faction.OfPlayer.def.techLevel)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ProgressReal" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: Find.ResearchManager.GetProgress(this)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ProgressPercent" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: Mathf.Clamp01(this.ProgressReal / this.Cost)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsFinished" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Default: (double) this.ProgressReal &gt;= (double)
    this.Cost</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Cost" type="xs:float">
              <xs:annotation>
                <xs:documentation>Default: (double) this.baseCost &lt;= 0.0 ?
                  this.knowledgeCost : this.baseCost</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Description" type="xs:string">
              <xs:annotation>
                <xs:documentation>Default: this.description</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TechprintCount" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Default: !ModLister.RoyaltyInstalled ? 0 :
                  this.techprintCount</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TechprintsApplied" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Default: Find.ResearchManager.GetTechprints(this)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent> -->
  </xs:complexType>



  <!-- EffecterDefType -->
  <xs:complexType name="EffecterDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's EffecterDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="children">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="SubEffecterDefType" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="positionRadius" type="xs:float" />
          <xs:element name="offsetTowardsTarget" type="xs:string" />
          <xs:element name="maintainTicks" type="xs:integer" />
          <xs:element name="randomWeight" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: 1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="offsetMode" type="EffecterDef.OffsetModeType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>




  <!-- StuffCategoryDefType -->
  <xs:complexType name="StuffCategoryDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's StuffCategoryDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="noun" type="xs:string" />
          <xs:element name="destroySoundSmall" type="DefNameType" />
          <xs:element name="destroySoundMedium" type="DefNameType" />
          <xs:element name="destroySoundLarge" type="DefNameType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>





  <!-- SkillRequirementType -->
  <xs:complexType name="SkillRequirementType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's SkillRequirement type.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="skill" type="xs:string" />
      <xs:element name="minLevel" type="xs:integer" />
      <xs:element name="Summary" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: this.skill == null ? "" : $"{this.skill.LabelCap}
            ({this.minLevel})"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>


  <!-- TerrainDefType -->
  <xs:complexType name="TerrainDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's TerrainDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="BuildableDefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="texturePath" type="xs:string" />
          <xs:element name="edgeType" type="xs:string" />
          <xs:element name="waterDepthShader" type="xs:string" />
          <xs:element name="waterDepthShaderParameters">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="_UseWaterOffset" type="xs:integer" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="renderPrecedence" type="xs:integer" />
          <xs:element name="affordances">
            <xs:annotation>
              <xs:documentation>Default: new List&lt;TerrainAffordanceDef&gt;()</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0"
                  maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="layerable" type="xs:boolean" />
          <xs:element name="scatterType" type="xs:string" />
          <xs:element name="takeFootprints" type="xs:boolean" />
          <xs:element name="natural" type="xs:boolean" />
          <xs:element name="takeSplashes" type="xs:boolean" />
          <xs:element name="avoidWander" type="xs:boolean" />
          <xs:element name="changeable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="smoothedTerrain" type="TerrainDefType" />
          <xs:element name="holdSnow" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="isPaintable" type="xs:boolean" />
          <xs:element name="extinguishesFire" type="xs:boolean" />
          <xs:element name="bridge" type="xs:boolean" />
          <xs:element name="color" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="colorDef" type="xs:string" />
          <xs:element name="driesTo" type="TerrainDefType" />
          <xs:element name="tags">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="burnedDef" type="TerrainDefType" />
          <xs:element name="tools">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="ToolType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="extraDeteriorationFactor" type="xs:float" />
          <xs:element name="destroyOnBombDamageThreshold" type="xs:float">
            <xs:annotation>
              <xs:documentation>Default: -1f</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="destroyBuildingsOnDestroyed" type="xs:boolean" />
          <xs:element name="traversedThought" type="ThoughtDefType" />
          <xs:element name="extraDraftedPerceivedPathCost" type="xs:integer" />
          <xs:element name="extraNonDraftedPerceivedPathCost" type="xs:integer" />
          <xs:element name="destroyEffect" type="EffecterDefType" />
          <xs:element name="destroyEffectWater" type="EffecterDefType" />
          <xs:element name="autoRebuildable" type="xs:boolean" />
          <xs:element name="categoryType" type="TerrainDef.TerrainCategoryTypeType" />
          <xs:element name="pollutedTexturePath" type="xs:string" />
          <xs:element name="pollutionOverlayTexturePath" type="xs:string" />
          <xs:element name="pollutionShaderType" type="xs:string" />
          <xs:element name="pollutionColor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pollutionOverlayScrollSpeed" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Vector2.zero</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pollutionOverlayScale" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Vector2.one</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pollutionCloudColor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pollutionTintColor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: Color.white</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="generatedFilth" type="xs:string" />
          <xs:element name="filthAcceptanceMask" type="FilthSourceFlagsType">
            <xs:annotation>
              <xs:documentation>Default: FilthSourceFlags.Any</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="waterDepthMaterial" type="xs:string" />
          <xs:element name="graphicPolluted" type="GraphicType">
            <xs:annotation>
              <xs:documentation>Default: BaseContent.BadGraphic</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Removable" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.layerable</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DrawColor" type="xs:string">
            <xs:annotation>
              <xs:documentation>Default: this.colorDef != null ? this.colorDef.color :
    this.color</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsRiver" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("River")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsOcean" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("Ocean")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsWater" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("Water")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsFine" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("FineFloor")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsSoil" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("Soil")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsRoad" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("Road")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsFloor" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Default: this.HasTag("Floor")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>


  <!-- DamageArmorCategoryDefType -->
  <xs:complexType name="DamageArmorCategoryDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's DamageArmorCategoryDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="multStat" type="StatDefType" />
          <xs:element name="armorRatingStat" type="StatDefType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>




  <!-- HediffGiverSetDefType -->
  <xs:complexType name="HediffGiverSetDefType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's HediffGiverSetDef type.</xs:documentation>
    </xs:annotation>
    <!-- <xs:complexContent>
      <xs:extension base="DefType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="hediffGivers">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="li" type="HediffGiverType" minOccurs="0" maxOccurs="unbounded" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent> -->
  </xs:complexType>








  <!-- CostListForDifficultyType -->
  <xs:complexType name="CostListForDifficultyType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's CostListForDifficulty type.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="difficultyVar" type="xs:string" />
      <xs:element name="costList" type="GeneralAnyListType" />
      <xs:element name="costStuffCount" type="xs:integer" />
      <xs:element name="invert" type="xs:boolean" />
    </xs:choice>
  </xs:complexType>

  <!-- ThingDefCountClassType -->

  <!-- IconForStuffAppearanceType -->
  <xs:complexType name="IconForStuffAppearanceType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's IconForStuffAppearance type.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Appearance" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: this.appearance</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IconPath" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: this.iconPath</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>


  <!-- DefModExtensionType -->
  <xs:complexType name="DefModExtensionType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's DefModExtension type.</xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <!-- ColorForStuffType -->
  <xs:complexType name="ColorForStuffType">
    <xs:annotation>
      <xs:documentation>XML definition for RimWorld's ColorForStuff type.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Stuff" type="DefNameType">
        <xs:annotation>
          <xs:documentation>Default: this.stuff</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Color" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default: this.color</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>


  <!-- CUSTOM: StatModifierListType -->
  <xs:complexType name="StatModifierListType">
    <xs:all>
      <xs:element name="MaxHitPoints" type="xs:integer" minOccurs="0" />
      <xs:element name="Mass" type="xs:float" minOccurs="0" />
      <xs:element name="MarketValue" type="xs:integer" minOccurs="0" />
      <xs:element name="SellPriceFactor" type="xs:float" minOccurs="0" />
      <xs:element name="RoyalFavorValue" type="xs:float" minOccurs="0" />
      <xs:element name="Flammability" type="xs:float" minOccurs="0" />
      <xs:element name="WorkToMake" type="xs:integer" minOccurs="0" />
      <xs:element name="DeteriorationRate" type="xs:integer" minOccurs="0" />
      <xs:element name="Beauty" type="xs:integer" minOccurs="0" />
      <xs:element name="Cleanliness" type="xs:float" minOccurs="0" />
      <xs:element name="Comfort" type="xs:float" minOccurs="0" />
      <xs:element name="Nutrition" type="xs:float" minOccurs="0" />
      <xs:element name="FoodPoisonChanceFixedHuman" type="xs:float" minOccurs="0" />
      <xs:element name="FoodPoisonChanceFixedHuman" type="xs:float" minOccurs="0" />
      <xs:element name="ShootingAccuracyTurret" type="xs:float" minOccurs="0" />
      <xs:element name="AccuracyTouch" type="xs:float" minOccurs="0" />
      <xs:element name="AccuracyShort" type="xs:float" minOccurs="0" />
      <xs:element name="AccuracyMedium" type="xs:float" minOccurs="0" />
      <xs:element name="AccuracyLong" type="xs:float" minOccurs="0" />
      <xs:element name="RangedWeapon_Cooldown" type="xs:float" minOccurs="0" />
      <xs:element name="RangedWeapon_DamageMultiplier" type="xs:float" minOccurs="0" />
      <!-- <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" /> -->
    </xs:all>
  </xs:complexType>


</xs:schema>